body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

 h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: #ccff99;
  overflow: auto;
  padding: 20px;
  
}

p.ques {
    color: brown;
    font-family: cursive;  
  font-size: 1.2em;
}

 .ans {
    color: blue;
    font-family: cursive;  
  font-size: 1.2em;
}

p.ques:hover {
    background-color: yellow;
}

.label
{
    color: darkgreen;
    font-family: cursive;  
  font-size: 1.2em;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}
.sitemap1 {
	float : right;
	width :285px;
	margin-top : -160px;
}